http://example.com {
    root /data/codes
    tls off
    index index.html index.txt
    minify
    timeouts none
    log stdout
    errors stdout
}

http://l.example.com {
    gzip
    timeouts none
    tls off
    proxy / http://<docker ip>:8988
}
